/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1.1px;
}

body {
  font-family: "PT Sans Caption", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 3vh;
}

/* header */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  text-decoration: none;
  color: white;
  font-size: 5vh;
  font-weight: bold;
}

#menu-icon {
  font-family: Geneva, sans-serif;
  font-size: 6vh;
}

/* hero */

.hero-image {
  /* The image used */
  background-image: url("https://cdn.pixabay.com/photo/2016/11/22/19/25/adventure-1850178_1280.jpg");

  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 2rem 5rem;
  padding-bottom: 7rem;
  width: 100%;
  color: white;
  background: rgb(44, 44, 44);
}

.expense{
  color: white;
  font-size: 3vh;
  font-weight: bold;
  background: rgb(44, 44, 44);
  min-height: 100vh;
}

.expense-form{
  border: 2px solid white;
  width: 50vw;
margin: 0 auto;
margin-top: 10rem;
padding: 10px 5px;
}



.hero-title {
  max-width: 16em;
  margin: 0;
  font-size: 12vh;
  font-weight: bold;
  line-height: 0.9;
}

.hero-subtitle {
  max-width: 32em;
  margin: 0;
  font-size: 12vh;
  color: #cfcfcf;
  margin: 1rem 0rem;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 10vh;
  }
  .hero-subtitle {
    font-size: 5vh;
  }
}

.hero-footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  padding: .5rem 2rem;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.235);
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.253);
  color: black;
  scale: 1.1;
}


/* article */

.info {
  max-width: 36em;
  margin: 0 auto;
  padding: 1em;
}

.info-header {
  margin: 2rem 0em;
}


/* Cards */

.card-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 2rem 10rem;
}

.card{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}